<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="tracelogger" xsi:type="File" fileName="LoggerTrace.log"/>
  	<target name="errorlogger" xsi:type="File" fileName="LoggerError.log"/>
    <target name="debuglogger" xsi:type="File" fileName="LoggerDebug.log"/>
  </targets>
  <rules>
    <logger name="tracelogger" level="Trace" writeTo="tracelogger" />
    <logger name="tracelogger" level="Info" writeTo="tracelogger" />
    <logger name="errorlogger" level="Error" writeTo="errorlogger" />
    <logger name="errorlogger" level="Fatal" writeTo="errorlogger" />
    <logger name="errorlogger" level="Warn" writeTo="errorlogger" />
    <logger name="debuglogger" level="Debug" writeTo="debuglogger" />
  </rules>
</nlog>